@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700;800&display=swap');

body {
    font-family: 'Recursive', sans-serif;
    text-align: center;
    background-image: url('./images/sky.jpg');
    background-size: cover;
	background-attachment: fixed;
}

.fill{
	background: -webkit-linear-gradient(left, #b169f5 0%, #cf7eb0 100%);
	background: linear-gradient(left, #b169f5 0%, #cf7eb0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#home{
    width: 100%;
    height: 100vh;
    margin-top: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 50px;
}

img.c{
    max-width: 200px;
}

img.p{
    max-width: 100px;
    
}

input{
    margin-top: 25px;
    height: 25px;
    background: #FFDDCF;
    border-radius: 10px;
    border: 4px solid #B28AE4;
    padding: 10px 15px;
    font-family: 'Recursive', sans-serif;
    text-align: center;
    color: #000;
}

input:focus{
    outline: none;
}


#game {    
    display: none;
    margin-top: 0 auto;
    align-items: center;
    justify-content: center;
}

div#game div{
    display: inline-block;
}

.c{
    margin-bottom: 25px;
}

div#credit{
    position: absolute;
    bottom: 0;
    right: 25px;
}

p{
    font-size: 10px;    
}